<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>Plain - Clean Responsive Bootstrap Theme</title>
	<meta name="description" content="Plain is a responsive HTML template with 12-column grid based on popular Twitter Bootstrap framework. This theme is suitable as a clean and easily maintainable template for any business, portfolio or single-project site, with support for mobile devices and latest HTML5 &amp; CSS3 user interface components.">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styles -->
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/font-awesome/font-awesome.min.css" rel="stylesheet" />
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" />
	<![endif]-->
	
	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css' />

	<!-- Javascript -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
	
	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						Plain
					</a>
					<ul class="nav">
						<li><a href="index.html" title="Home">Home</a></li>
						<li><a href="work.html" title="Our work">Portfolio</a></li>
						<li><a href="plans.html" title="Plans and pricing">Pricing</a></li>
						<li><a href="team.html" title="Our team">Our team</a></li>
						<li><a href="blog.html" title="Our blog">Blog</a></li>
						<li class="dropdown">
							<a href="components.html" title="Features">Features</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="components.html" title="">Components</a></li>
								<li><a href="grid.html" title="">Grid</a></li>
								<li><a href="icons.html" title="">Icons</a></li>
								<li><a href="home-variant-1.html" title="">Homepage variant #1</a></li>
								<li><a href="home-variant-2.html" title="">Homepage variant #2</a></li>
							</ul>
						</li>
						<li><a href="contact.html" title="Contact us">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>

	<!-- Content
	================================================== -->
	<section id="content" class="container">


	<div class="hero-unit">
		<p>Simplified template for your homepage .</p> 
	</div>

</section><!-- end .container -->

<div class="lead-container">
<div class="container">

	<!-- Macbook carousel -->
	<div id="carousel" class="carousel slide stacked" rel="carousel">

		<!-- Carousel items -->
		<div class="carousel-inner">
			<!-- Item -->
			<div class="item active">
				<img alt="" src="assets/home-variant/placeholder-940x480-1.gif" />
			</div>
			<!-- end Item -->
			<!-- Item -->
			<div class="item">
				<img alt="" src="assets/home-variant/placeholder-940x480-2.gif" />
			</div>
			<!-- end Item -->
			<!-- Item -->
			<div class="item">
				<img alt="" src="assets/home-variant/placeholder-940x480-3.gif" />
			</div>
			<!-- end Item -->
		</div>
		<!-- Carousel navigation -->
		<a class="carousel-control left" href="#carousel" data-slide="prev"></a>
		<a class="carousel-control right" href="#carousel" data-slide="next"></a>

	</div>
	<!-- end Macbook carousel -->


	<div class="row">
		<div class="span4">
			<span class="circle" style="background:#ED3E3E;"><i class="icon-heart-empty"></i></span>&nbsp;
			<h3 class="inline">Powered by passion</h3>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			</p>
			<p><a class="" href="#">Read more &raquo;</a></p>
		</div>

		<div class="span4">
			<span class="circle" style="background:#80AD00;"><i class="icon-leaf"></i></span>
			<h3 class="inline">Eco-friendly</h3>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			</p>
			<p><a class="" href="#">Read more &raquo;</a></p>
		</div>

		<div class="span4">
			<span class="circle" style="background:#5DB9F2;"><i class="icon-bolt"></i></span>
			<h3 class="inline">Lightning fast</h3>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="" href="#">Read more &raquo;</a></p>
		</div>

	</div>
	<!-- end .row -->
	
</div>
</div>
	</section>

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="brand" href="index.html">
						Plain
					</a>
					<p>
						Creative agency working <br />with web and interactive media. <br />
						Lorem ipsum dolor sit amet.
						
					</p>
				</div>
				<div class="span4 social-networks">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter"></a>
						<a class="social-network facebook"></a>
						<a class="social-network linkedin"></a>
						<a class="social-network dribbble"></a>
						<a class="social-network pinterest"></a>
					</p>
				</div>
				<div class="span4 newsletter">
					<h3>Newsletter</h3>
					<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
					<img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
					<form method="post" id="newsletter-form">
						<input type="text" placeholder="Enter your E-mail" name="subscribe" />
						<input type="hidden" name="bot" /><!-- SPAM protection -->
						<button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
					</form>
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2010—2012 by <a>Plain</a>
				</div>
				<div class="span4">
					<a href="#" title="Send us email">hello@plain.com</a>, 
					+123 320 000 123 456
				</div>
				<div class="span4">
					<a href="http://themeforest.net/item/plain/2616790?ref=virae" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
					
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.min.js"></script>
	
</body>
</html>		
