	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="brand" href="/">
						goa
					</a>
					<p>
						Elegant code generation<br />for your API or microservice. <br />
						Design First
						
					</p>
				</div>
				<div class="span4 social-networks">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter" href="https://twitter.com/goadesign"></a>
					</p>
				</div>
				<div class="span4 newsletter">
					<h3>Developer List</h3>
					<a href="https://groups.google.com/forum/#!forum/goadesign">Join the Google Group</a>
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span8">
					&copy; 2015—2016 by <a>Raphael Simon and the goa contributors</a>
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="/js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="/js/functions.min.js"></script>
	
</body>
</html>		
