	<!-- Header
	================================================== -->
	<header id="header">
		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="/">
						goa
					</a>
					<ul class="nav">
						<li><a href="/" title="Home">Home</a></li>
						<li><a href="/guide/" title="Getting Started">Getting Started</a></li>

						<li class="dropdown">
							<a href="/components/" title="components">Components</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="/components/goagen/" title="">goagen</a></li>
								<li><a href="/components/runtime/" title="">runtime</a></li>
								<li><a href="/components/swagger/" title="">swagger</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="/middleware/" title="middleware">Middleware</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="/middleware/jwt/" title="">JWT</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="/plugins/" title="plugins">Plugins</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="/plugins/gorma/" title="">gorma</a></li>
							</ul>
						</li>
						<li><a href="/tutorials/" title="Tutorials">Tutorials</a></li>
						<li><a href="/blog/" title="Blog">Blog</a></li>
						<li><a href="https://github.com/goadesign/goa" title="GitHub">GitHub</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>
