{{ partial "header.html" . }}
<body>

	{{ partial "navigation.html" . }}	
	<!-- Content
	================================================== -->
	<section id="content" class="container">

	<div class="hero-unit">
		<h1>Goa Blog</h1>
		<p>We like to talk about it.</p>
	</div>

	<hr />

	<!-- #blog -->
	<div class="row" id="blog">

		<!-- posts -->
		<div class="span8"> 
            {{ range .Data.Pages }}
			<!-- Default blog item
			================================================== -->
			<article class="post">
				<div class="entry-body">
					<a href="{{ .Permalink }}">
						<h2 class="entry-title">{{ .Title }}</h2>
					</a>
					<p>{{ .Summary }}</p>
				</div>
				<div class="entry-meta">
					<span class="entry-type"></span>
					<span class="entry-date">{{ dateFormat "Monday, Jan 2, 2006" .Date  }}</span>
					<span class="entry-date">{{ .Params.author }}</span>
					<div class="entry-meta">
						<ul class="categories">
						{{ range $cat := .Params.categories}}
							<li><a href="/categories/{{$cat}}/">{{$cat}}</a></li>
						{{ end }}
						</ul>
					</div>
					<div class="widget">
						<ul class="tags">
						{{ range $cat := .Params.tags}}
							<li><a href="/tags/{{$cat}}/">{{$cat}}</a></li>
						{{ end }}
						</ul>
					</div>
				</div>
				<div class="clr"></div>

			</article><!-- end item -->
		<hr />
            {{ end }}
			
		</div><!-- end .span8 -->

		{{ partial "sidebar.html" . }}	

	</div><!-- end #blog -->

	</section>
	{{ partial "footer.html" . }}
