{{ partial "header.html" . }}
<body>

	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span12">
				<div>
					<p>
						goa is extendable with <a href="extend/plugins.html">plugins</a>.
						The section covers how to author new plugins and also covers
						the <a href="extend/gorma.html">gorma</a> plugin as a good
						reference for implementing your own.
					</p>
					<ul id="list">
						{{ range .Data.Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
