{{ partial "header.html" . }}
<body>
	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span8">
				<div>
					<p>
						After design comes implementation. This section describes
						what's involved in implementing a goa service. The
						<a href="implement/overview.html">overview</a> page
						presents the various pieces covered in the other pages.
					</p>
					<ul id="list">
						{{ range .Data.Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
</body>
