{{ partial "header.html" . }}
<body>

	{{ partial "navigation.html" . }}	
	<!-- Content
	================================================== -->
	<section id="content" class="container">

	<div class="hero-unit">
		<h1>{{ .Title  }}</h1>
		<p>{{ .Description }}</p>
	</div>

	<hr />

	<!-- #blog -->
	<div class="row" id="blog">

		<!-- posts -->
		<div class="span8"> 



  <div>
	<p>
	Goa is built from several pieces. Here's the list and we need more words here.
	</p>
        <ul id="list">
            {{ range .Data.Pages }}
	    <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
            {{ end }}
        </ul>
  </div>

			

			
		</div><!-- end .span8 -->

			{{ partial "sidebar.html" . }}	
	</div><!-- end #blog -->

	</section>
	{{ partial "footer.html" . }}
