{{ partial "header.html" . }}
<body>
	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span8">
				<div>
					<p>
						If you're new to goa start by going through the
						<a href="learn/guide.html">Getting Started Guide</a>. The
						goa <a href="learn/cellar.html">cellar</a> example provides
						a good reference for learning the best practices when
						designing new APIs.
					</p>
					<ul id="list">
						{{ range .Data.Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
</body>
