{{ partial "header.html" . }}
<body>
	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div data-spy="scroll" data-target="toc" class="span8">
				<div>
					<p>
						The reference section contains the GoDoc for all
						the packages that make up the goa framework.
					</p>
					<ul id="list">
						{{ range (sort .Data.Pages .Description) }}
						<li><a href="{{ .Permalink }}">{{ .Description}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
			{{ partial "sidebar.html" . }}
		</div>
	</section>
	{{ partial "footer.html" . }}
