{{ partial "header.html" . }}
<body>
	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span12">
				{{ .Content  }}
				<ul id="list"> 
					{{ $section := .Section }}
					{{ $lang := .Lang }}
					{{ range $page := sort $.Pages "Weight" "asc" }}
					{{ if and (eq .Lang $lang) (eq .Section $section) .IsPage }}
					<li><a href="{{ $page.Permalink }}">{{ $page.Title}}</a></li> 
					{{ end }}
					{{ end }}
				</ul> 
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
