{{ partial "header.html" . }}

<body>
    {{ partial "v1/navigation.html" . }}

    <section id="content" class="container">
        <div class="hero-unit">
            <p class="main">Prima progetta, poi vinci. </p>
        </div>
    </section><!-- end .container -->

    <div class="container">
        <div class="row" style="margin-bottom:2em">
            <div class="hero-unit">
                <p>
                    <a href="https://github.com/goadesign/goa">Goa</a> fornisce un approccio olistico per
                    lo sviluppo di remote API e microservizi in <a href="https://golang.org">Go</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-bottom:2em;text-align:center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/t1MxuSKVXPc" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="alternate">
        <div class="container">
            <div class="row" style="margin-top:2em;margin-bottom:2em">
                <div class="span4">
                    <span class="circle" style="background:#ED3E3E;"><i class="fa fa-magic"></i></span>&nbsp;
                    <h3 class="inline">Genera codice</h3>
                    <p>
                        Goa si appoggia alla generazione automatica di codice per
                        alleviare il bisogno delle reflection o del codice ripetitivo.<br />
                        Il tool goa genera vari artefatti tra cui codice, documentazione
                        clients e perfino output personalizzati attraverso i plugin.
                        Il risultato finale &egrave; <b>un codice applicativo
                            pulito e conciso</b>.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#80AD00;"><i class="fa fa-code"></i></span>
                    <h3 class="inline">Design Based</h3>
                    <p>
                        Il <a href="/v1/design/overview">linguaggio di design di Goa</a> &egrave; flessibile e sta fuori
                        dal contesto applicativo &ndash; Tu decidi come la tua API funziona. Il design &egrave;
                        <b>l'unica fonte di verit&aacute;</b>
                        dalla cui costruzione sono derivati sia il comportamente che la documentazione.
                        Il linguaggio di design di Goa &egrave;, essendo una DSL in GO, &egrave;
                        facile da <a href="/v1/extend/dsls">customizzare</a> e i design risultanti sono facili da
                        condividere.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#5DB9F2;"><i class="fa fa-bolt"></i></span>
                    <h3 class="inline">Potente context</h3>
                    <p>
                        I vari request handler sono corredati da uno <b>specifico endpoint context</b> che espone
                        sia lo stato della richiesta attraverso campi convenienti, che lo stato della risposta grazie
                        a metodi che scrivono la risposta stessa al client.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:4em">
        <div class="row">
            <div class="hero-unit">
                <p>Il Life Cycle dello sviluppo dei Servizi</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> <a
                    href="/v1/design/overview">Progetta</a>
            </h3>
            <p style="margin-bottom:2em">
                La creazione di un servizio con Goa parte dal design. Il
                <a href="/v1/design/overview/">DSL di Goa</a> ti permette di descrivere le global properties,
                i tipi e gli endpoints che caratterizzano la tua API. La
                <a href="/v1/reference/goa/design/apidsl/">documentazione del package apidsl</a> fornisce un veloce
                referimento a tutte le funzionalit&aacute; presenti nel DSL.
            </p>
            <p>
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> <a
                    href="/v1/implement/overview">Implementa</a>
            </h3>
            <p style="margin-bottom:2em">
                Una volta che il design della API &egrave; completato, <a href="/v1/implement/goagen/">goagen</a>
                genera le corrispondenti strutture dati, il codice di validazione e gli handlers. Gli handlers
                sono definiti come metodi di una interfaccia Go. Implementare questi metodi pertanto &egrave; semplice
                come implementare
                l'interfaccia che ti viene generata automaticamente.
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> <a
                    href="/v1/extend/generators">Estendi</a>
            </h3>
            <p style="margin-bottom:2em">
                La parte migliore del DSL di Goa &egrave; che il suo engine &egrave; completamente disaccoppiato.
                I Plugin possono implementare delle <a href="/v1/extend/dsls">DSL personalizzate</a> per estendere i
                concetti
                descritti nel design. I Plugins possono anche generare <a href="/v1/extend/generators">output
                    arbitrari</a>.
            </p>
        </div>
    </div>

    <div class="alternate">
        <div class="container" style="margin-top:2em">
            <div class="row">
                <div class="hero-unit">
                    <p>Getting Started</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom:2em">
            <div class="row">
                <div class="span4" style="margin-left: auto; margin-right: auto;">
                    <p style="white-space: nowrap">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                            <strong class="fa-stack-1x text-primary" style="color:white">1</strong>
                        </span>
                        <span style="font-size:120%">
                            Implementa un semplice servizio Goa con la <a href="/v1/learn/guide">Getting Started
                                Guide</a>.
                        </span>
                    </p>
                    <p style="white-space: nowrap">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                            <strong class="fa-stack-1x text-primary" style="color:white">2</strong>
                        </span>
                        <span style="font-size:120%">
                            Impara di pi&ugrave; sul Goa <a href="/v1/design/overview">DSL</a>.
                        </span>
                    </p>
                    <p style="white-space: nowrap">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                            <strong class="fa-stack-1x text-primary" style="color:white">3</strong>
                        </span>
                        <span style="font-size:120%">
                            Consulta gli <a href="https://github.com/goadesign/examples">esempi</a> e il servizio <a
                                href="https://github.com/goadesign/goa-cellar">goa-cellar</a>.
                        </span>
                    </p>
                    <p style="white-space: nowrap">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                            <strong class="fa-stack-1x text-primary" style="color:white">4</strong>
                        </span>
                        <span style="font-size:120%">
                            Unisciti al nostro <a href="https://gophers.slack.com/messages/goa/">canale Slack</a>
                            (puoi iscriverti <a href="https://gophersinvite.herokuapp.com/">qui</a>).
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:2em;margin-bottom:2em">
        <div class="row">
            <div class="hero-unit">
                <p>Per saperne di pi&ugrave;</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span6 text-center">
                <a href="https://vimeo.com/196251649">
                    <img id="chicago-meetup" alt="Just Generate Everything with goa"
                        src="/assets/resources/geneverything.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Just Generate Everything with goa</i>
                </h3>
                <p>
                    Kevin Keuning &ndash; Chicago Ultimate Golang, October 2016
                </p>
            </div>
            <div class="span6 text-center">
                <a href="https://www.youtube.com/embed/snMls3Bysa4/">
                    <img id="goamicro" alt="goa for Microservices" src="/assets/resources/goamicro.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>goa for Microservices</i>
                </h3>
                <p>
                    Alexandre Bourget &ndash; Golang Montréal, August 2016
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:2em;margin-bottom:2em">
            <div class="span4 text-center">
                <a href="https://changelog.com/gotime-7/">
                    <img id="gotime" alt="Go Time" src="/assets/resources/gotime.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Go Time #7: goa The Framework for Building Microservices</i>
                </h3>
                <p>
                    Raphael Simon &ndash; Interview, July 2016
                </p>
            </div>
            <div class="span4 text-center">
                <a href="http://talks.goa.design/slides/gophercon2016/goa.slide#2">
                    <img id="slides" alt="goa GopherCon slides" src="/assets/resources/goaslides.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Building Microservices From Design</i> (slides)
                </h3>
                <p>
                    Raphael Simon &ndash; GopherCon, July 2016
                </p>
            </div>
            <div class="span4 text-center">
                <a href="https://www.youtube.com/embed/tCFrgWikEX8">
                    <img id="video" alt="goa video" src="/assets/resources/goameetup.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Generate All The Things</i>
                </h3>
                <p>
                    Brian Ketelsen &ndash; Tempa Go Meetup, March 2016
                </p>
            </div>
        </div>
    </div>

    <script>
        $('#video').click(function () {
            $("#carousel").hide(0)
            $("#frame").fadeIn(1000)
            $("#frame iframe").attr('src', "https://www.youtube.com/embed/tCFrgWikEX8?autoplay=1");
        });
    </script>

    </section>

    {{ partial "v1/footer.html" . }}