<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
    <!--<![endif]-->

    <head>
        <title>{{ if not .IsHome }}{{ print .Title " · " }}{{ end }}goa :: Design-first API Generation</title>

        <!-- Basic meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="goa is a code generation framework built in Go that provides the developer with a clear and concise path to generate idiomatic API and Microservice architectures by using a design-first methodology.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome/font-awesome.min.css" />

        <!--[if IE 7]>
            <link href="/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" />
        <![endif]-->

        <!-- Web Fonts  -->
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/manifest.json">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- RSS -->
        {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ end }}

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/toc.js"></script>

        <script>
            window.jQuery || document.write('<script src="/js/jquery-1.10.2.min.js"><\/script>')
        </script>

<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    </head>
