{{ partial "header.html" . }}
<body>

	{{ partial "navigation.html" . }}	
	<!-- Content
	================================================== -->
	<section id="content" class="container">

	<div class="hero-unit">
		<h1>Blog<h1>
		<p>We can't help but talk about it. </p>
	</div>

	<hr />

	<!-- #blog -->
	<div class="row" id="blog">

		<!-- posts -->
		<div class="span8"> 



  <div>
   <h2 id="title">Posts</h1>
        <ul id="list">
            {{ range .Data.Pages }}
	    <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
            {{ end }}
        </ul>
  </div>

			

			
		</div><!-- end .span8 -->

		<!-- Sidebar with widgets
		================================================== -->
		<div class="sidebar span4">

			<!-- search plugin -->
			<div class="widget">
				<input type="search" class="animated" placeholder="Search" />
			</div>

			<!-- Tags / categories -->
			<div class="widget">
				<h4>Categories</h4>
				<ul class="tags">
					<li><a href="#">design</a></li>
					<li><a href="#">user interface</a></li>
					<li><a href="#">typography</a></li>
					<li><a href="#">apps</a></li>
					<li><a href="#">mac os/x</a></li>
				</ul>
			</div>

			<!-- List widget with custom list icons -->
			<div class="widget">
				<h4>List widget</h4>
				<ul class="icons-ul list-style">
					<li><i class="icon-li icon-chevron-right"></i>design</li>
					<li><i class="icon-li icon-chevron-right"></i>user interface</li>
					<li><i class="icon-li icon-chevron-right"></i>typography</li>
					<li><i class="icon-li icon-chevron-right"></i>apps</li>
					<li><i class="icon-li icon-chevron-right"></i>mac os/x</li>
				</ul>
			</div>

			<!-- Example of tabs widget -->
			<div class="widget stacked">
				<h4>Tabs</h4>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
					<li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="home">
						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
					</div>
					<div class="tab-pane fade" id="profile">
						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
					</div>
				</div>   
			</div>

			<!-- Flickr widget (notice included js/jflickrfeed.min.js file at the bottom) -->
			<div class="widget">
				<h4>Flickr widget</h4>
				<div class="flickr-feed" data-flickr-id="52617155@N08" data-flickr-tags="workspaces,design,2010,chicago">
				</div>
			</div>

			<!-- Simple text widget -->
			<div class="widget">
				<h4>Text widget</h4>
				<p>Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. </p>
			</div>

		</div><!-- end sidebar -->

	</div><!-- end #blog -->

	<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
	</section>

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="brand" href="index.html">
						Plain
					</a>
					<p>
						Creative agency working <br />with web and interactive media. <br />
						Lorem ipsum dolor sit amet.
						
					</p>
				</div>
				<div class="span4 social-networks">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter"></a>
						<a class="social-network facebook"></a>
						<a class="social-network linkedin"></a>
						<a class="social-network dribbble"></a>
						<a class="social-network pinterest"></a>
					</p>
				</div>
				<div class="span4 newsletter">
					<h3>Newsletter</h3>
					<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
					<img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
					<form method="post" id="newsletter-form">
						<input type="text" placeholder="Enter your E-mail" name="subscribe" />
						<input type="hidden" name="bot" /><!-- SPAM protection -->
						<button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
					</form>
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2010—2012 by <a>Plain</a>
				</div>
				<div class="span4">
					<a href="#" title="Send us email">hello@plain.com</a>, 
					+123 320 000 123 456
				</div>
				<div class="span4">
					<a href="http://themeforest.net/item/plain/2616790?ref=virae" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
					
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.min.js"></script>
	
</body>
</html>		
