{{ partial "header.html" . }}
<body>

	{{ partial "navigation.html" . }}	
	<!-- Content
	================================================== -->
	<section id="content" class="container">

	<div class="hero-unit">
		<h1>{{ .Title  }}</h1>
		<p>{{ .Description }}</p>
	</div>

	<hr />

	<!-- #blog -->
	<div class="row" id="blog">

		<!-- posts -->
		<div class="span8"> 
			{{ .Content  }}

		</div><!-- end .span8 -->

		<!-- Sidebar with widgets
		================================================== -->
		<div class="sidebar span4">


			<!-- Tags / categories -->
			<div class="widget">
				<h4>Categories</h4>
				<ul class="tags">
					<li><a href="#">design</a></li>
					<li><a href="#">user interface</a></li>
					<li><a href="#">typography</a></li>
					<li><a href="#">apps</a></li>
					<li><a href="#">mac os/x</a></li>
				</ul>
			</div>

		</div><!-- end sidebar -->

	</div><!-- end #blog -->
	</section>
	{{ partial "footer.html" . }}
