<footer class="td-footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      {{/* Left: Stay Updated box */}}
      <div class="col-auto td-footer__newsletter">
        <a href="https://substack.com/@goadesign" class="newsletter-box" target="_blank" rel="noopener">
          <i class="fas fa-envelope-open-text"></i>
          <span>Stay Updated</span>
        </a>
      </div>
      
      {{/* Center: Copyright */}}
      <div class="col td-footer__center">
        <span>&copy; {{ now.Year }} {{ .Site.Params.copyright | default .Site.Title }}</span>
        {{- $sha := getenv "GIT_SHA" -}}
        {{- if not $sha -}}
          {{- with .Site.GitInfo -}}
            {{- $sha = .Hash -}}
          {{- end -}}
        {{- end -}}
        {{- if $sha -}}
          {{- $short := slicestr $sha 0 12 -}}
          <span class="td-footer__build">
            &middot;
            <a href="https://github.com/goadesign/goa.design/commit/{{ $sha }}" target="_blank" rel="noopener" title="{{ $sha }}">Build {{ $short }}</a>
          </span>
        {{- end -}}
      </div>
      
      {{/* Right: Social icons */}}
      <div class="col-auto td-footer__social">
        <a class="td-footer__avatar" href="{{ "/" | relURL }}" aria-label="Goa home">
          <img src="{{ "img/avatar.svg" | relURL }}" alt="Goa Design Avatar" width="32" height="32" loading="lazy" decoding="async">
        </a>
        <ul class="td-footer__links-list">
          {{ with .Site.Params.links.user }}
            {{ range . }}
              {{ if ne .name "Newsletter" }}
              <li class="td-footer__links-item">
                <a href="{{ .url }}" target="_blank" rel="noopener" title="{{ .name }}">
                  <i class="{{ .icon }}"></i>
                </a>
              </li>
              {{ end }}
            {{ end }}
          {{ end }}
          {{ with .Site.Params.links.developer }}
            {{ range . }}
            <li class="td-footer__links-item">
              <a href="{{ .url }}" target="_blank" rel="noopener" title="{{ .name }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
