{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{ $langPage.Language.LanguageName }}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	{{ range .Site.Languages }}
		{{ if not (eq . $langPage.Language) }}
			<a class="dropdown-item" href="{{ cond (eq . $.Site.Home.Language) "/" (print "/" .Lang) }}">{{ .LanguageName }}</a>
		{{ end }}
	{{ end }}
</div>