<header id="header">
   <nav class="navbar">
      <div class="container">
         <a class="brand" href="/">
            <img alt="Goa" width="100" height="100" src="/img/goa-logo.svg"/>
         </a>
         <ul class="nav">
            {{ range .Site.Menus.main }}
            <li class="dropdown">
               <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
               {{ if .HasChildren }}
               <ul>
                  {{ range .Children }}
                  <li><a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a></li>
                  {{ end }}
               </ul>
               {{ end }}
            </li>
            {{ end }}

            <li><a href="https://pkg.go.dev/goa.design/goa/v3/dsl" title="GoDoc">Reference</a></li>
            <li><a href="https://github.com/goadesign/goa" title="GitHub"><span style="display:none">Github</span> <i class="fa-brands fa-github"></i></a></li>
            {{ if .IsPage }}<li><a href="https://github.com/goadesign/goa.design/edit/master/content/{{ trim .RelPermalink "/" }}.md" title="Edit"><i class="fa fa-edit"></i></a></li>{{ end }}
            <li class="nav-item mr-n4 mr-lg-0 dropdown">
               {{ partial "navbar-lang-selector.html" . }}
            </li>
         </ul>
      </div>
   </nav>
</header>