<header id="header">
	<nav class="navbar">
		<div class="navbar-inner">
			<div class="container">
        			<a class="brand" href="/">
					<img alt="goa" width="110px" height="110px" src="/img/goa-logo.svg"/>
				</a>
				<ul class="nav">
					<li class="dropdown">
						<a href="/learn.html" title="Learn">Learn</a>
						<ul>
							<li><a href="/learn/guide.html" title="Getting Started Guide">Getting Started Guide</a></li>
							<li><a href="/learn/cellar.html" title="Cellar Example">Cellar Example</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/design.html" title="Design">Design</a>
						<ul>
							<li><a href="/design/overview.html" title="Overview">Overview</a></li>
							<li><a href="/design/swagger.html" title="Swagger">Swagger</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/implement.html" title="Implement">Implement</a>
						<ul>
							<li><a href="/implement/overview.html" title="Overview">Overview</a></li>
							<li><a href="/implement/goagen.html" title="goagen">goagen</a></li>
							<li><a href="/implement/context.html" title="Request Context">Request Context</a></li>
							<li><a href="/implement/error_handling.html" title="Error Handling">Error Handling</a></li>
							<li><a href="/implement/components.html" title="Components">Components</a></li>
							<li><a href="/implement/middleware.html" title="Middleware">Middleware</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/extend.html" title="Extend">Extend</a>
						<ul>
							<li><a href="/extend/generators.html" title="">Generator Plugins</a></li>
							<li><a href="/extend/dsls.html" title="">Creating DSLs</a></li>
							<li><a href="/extend/gorma.html" title="">Gorma</a></li>
						</ul>
					</li>

					<li>&nbsp;</li>

					<li>
						<input id="search" class="animated" type="search" placeholder="Search">
						<ul id="results"></ul>
					</li>
					<li><a href="/reference.html" title="Reference"><i class="fa fa-book"></i></a></li>
					<!-- <li><a href="/blog.html" title="Blog"><i class="fa fa-feed"></i></a></li> -->
					<li><a href="https://github.com/goadesign/goa" title="GitHub"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
