<header id="header">
	<nav class="navbar">
		<div class="navbar-inner">
			<div class="container">
        			<a class="brand" href="/">
					<img alt="goa" width="110px" height="110px" src="/img/goa-logo.svg"/>
				</a>
				<ul class="nav">
					<li class="dropdown">
						<a href="/learn" title="Learn">Learn</a>
						<ul>
							<li><a href="/learn/intro" title="Introduction">Introduction</a></li>
							<li><a href="/learn/guide" title="Getting Started Guide">Getting Started Guide</a></li>
							<li><a href="/learn/cellar" title="Cellar Example">Cellar Example</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/design" title="Design">Design</a>
						<ul>
							<li><a href="/design/overview" title="Overview">Overview</a></li>
							<li><a href="/design/types" title="Working with Data Types">Working with Data Types</a></li>
							<li><a href="/design/swagger" title="Swagger">Swagger</a></li>
							<li><a href="/design/security" title="Security">Security</a></li>
							<li><a href="/design/vendoring" title="Vendoring goa Services">Vendoring goa Services</a></li>
							<li><a href="/reference/goa/design/apidsl/" title="">DSL Reference</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/implement" title="Implement">Implement</a>
						<ul>
							<li><a href="/implement/overview" title="Overview">Overview</a></li>
							<li><a href="/implement/goagen" title="goagen">goagen</a></li>
							<li><a href="/implement/context" title="Request Context">Request Context</a></li>
							<li><a href="/implement/error_handling" title="Error Handling">Error Handling</a></li>
							<li><a href="/implement/logging" title="Logging">Logging</a></li>
							<li><a href="/implement/encoding" title="Encoding">Encoding</a></li>
							<li><a href="/implement/mux" title="Service Mux">Mux</a></li>
							<li><a href="/implement/middleware" title="Middleware">Middleware</a></li>
							<li><a href="/implement/security" title="Security">Security</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/extend" title="Extend">Extend</a>
						<ul>
							<li><a href="/extend/generators" title="">Generator Plugins</a></li>
							<li><a href="/extend/dsls" title="">Creating DSLs</a></li>
							<li><a href="/extend/gorma" title="">Gorma</a></li>
						</ul>
					</li>
					<li><a href="/blog" title="Blog">Blog</a></li>

					<li>
						<input id="search" class="animated" type="search" placeholder="Search" style="width:102px">
						<ul id="results"></ul>
					</li>

					<li><a href="/reference" title="Reference"><b>Reference</b> <i class="fa fa-book"></i></a></li>
					<li><a href="https://github.com/goadesign/goa" title="GitHub">Github <i class="fa fa-github"></i></a></li>
                    {{ if .IsPage }}<li><a href="https://github.com/goadesign/goa.design/edit/master/content/{{ trim .RelPermalink "/" }}.md" title="Edit"><i class="fa fa-edit"></i></a></li>{{ end }}
				</ul>
			</div>
		</div>
	</nav>
</header>
