{{ partial "en/header.html" . }}
<body>
	{{ partial "en/navigation.html" . }}

	<section id="content" class="container">
		<div class="hero-unit">
			<p class="main">Oh Noes! Something is amiss...</p>
		</div>
	</section><!-- end .container -->

	<div class="container">
		<div class="container">
			<div class="row">
				<div class="span12">
					<img alt="sad gopher" src="/img/404.jpg"></img>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<p>
					If you think there should be something here, please
					<a href="https://github.com/goadesign/goa.design/issues/new">let us know!</a>
					</p>
				</div>
			</div>
		</div>
	</div>

{{ partial "en/footer.html" . }}
