<article class="td-content">
  <div class="page-title-row">
    <h1>{{ .Title }}</h1>
    <div class="page-tools">{{ partial "copy-page.html" . }}{{ with .OutputFormats.Get "Markdown" }}<a href="{{ .RelPermalink }}">Markdown</a>{{ end }}</div>
  </div>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
  {{ partial "toc-auto.html" . }}
  {{ .Content }}
  {{ if and .IsSection (not .Params.hide_children) }}{{ partial "section-index.html" . }}{{ end }}
  {{ partial "feedback.html" . }}
  {{ partial "page-meta-lastmod.html" . }}
</article>
