{{ partial "header.html" . }}
<body>
    {{ partial "navigation.html" . }}

    <section id="content" class="container">
        <div class="hero-unit">
            <p class="main">はじめにデザインを。</p>
        </div>
    </section><!-- end .container -->

    <div class="container">
        <div class="row" style="margin-bottom:2em">
            <div class="hero-unit">
                <p>
                <a href="https://github.com/goadesign/goa">Goa</a> は <a href="https://golang.org">Go</a> でリモート API やマイクロサービスを構築する総体的なアプローチを提供します。
                </p>
            </div>
        </div>
    </div>

    <div class="alternate">
        <div class="container" >
            <div class="row" style="margin-top:2em;margin-bottom:2em">
                <div class="span4">
                    <span class="circle" style="background:#ED3E3E;"><i class="fa fa-magic"></i></span>&nbsp;
                    <h3 class="inline">コード生成</h3>
                    <p>
                    Goa はコード生成に頼ることでリフレクションや単調なコーディングの必要性を軽減します。<br/>
                    Goa ツールは、コード、ドキュメント、クライアントを含むさまざまな成果物に加え、プラグインを通してカスタム成果物をも生成します。最終結果は<b>クリーンで簡潔なアプリケーションコード</b>です。
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#80AD00;"><i class="fa fa-code"></i></span>
                    <h3 class="inline">デザインに基づく</h3>
                    <p>
                    Goa デザイン言語は柔軟で、API がどのように動くのかあなたの望むように決めることができます。デザインは実装とドキュメントの両方から<b>信頼できる唯一の情報源</b>です。 Go の DSL である Goa デザイン言語はカスタマイズし易く、できあがったデザインは簡単に共有できます。
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#5DB9F2;"><i class="fa fa-bolt"></i></span>
                    <h3 class="inline">内臓のベストプラクティス</h3>
                    <p>
                    Goaは、ベストプラクティスに従ってマイクロサービスベースのシステムアーキテクチャ構築に適したコードを生成します。コードはレイヤーとして整理されているため、トランスポート固有の懸念事項がビジネスロジックに漏れたりすることはありません。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:4em">
        <div class="container">
            <div class="row">
                <div class="hero-unit">
                    <p>スポンサー</p>
                </div>

                <div class="row" style="margin-top:2em;margin-bottom:2em">
                    <div class="span4">
                        <a href="https://zuplo.link/goa-web">
                            <img src="/img/sponsors/zuplo.png" alt="zuplo" style="width:260px">
                        </a>
                    </div>
                    <div class="span8">
                        <p span style="font-size:120%; font-weight: bold;">
                            Zuplo: あなたのGoa APIをスケールし、保護し、商品化する
                        </p>
                        <p>
                            私たちのAPIゲートウェイは、APIの保護、グローバルスケール、OpenAPIからのドキュメント生成、そしてマネタイズを可能にします。
                        </p>
                        <p>
                            <a href="https://zuplo.link/goa-web">無料で始める</a>
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-top:2em;margin-bottom:2em">
                    <div class="span4">
                        <a href="https://www.incident.io">
                            <img src="/img/sponsors/incidentio.png" alt="incident.io" style="width:260px">
                        </a>
                    </div>
                    <div class="span8">
                        <p span style="font-size:120%; font-weight: bold;">
                            incident.io: インシデントから強く立ち直る
                        </p>
                        <p>
                            私たちのプラットフォームを使って、チームにインシデントを最初から最後まで管理する力を与えましょう。<br/>
                            インシデントを迅速に修正し、そこから学ぶことで、より回復力の高い製品を作ることができます。
                        </p>
                        <p>
                            <a href="https://www.incident.io">詳細はこちら</a>
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-top:2em;margin-bottom:2em">
                    <div class="span4">
                        <a href="https://www.speakeasyapi.dev/docs/api-frameworks/goa?utm_source=goa+repo&utm_medium=github+sponsorship">
                            <img src="/img/sponsors/speakeasy.png" alt="speakeasyapi.dev" style="width:260px">
                        </a>
                    </div>
                    <div class="span8">
                        <p span style="font-size:120%; font-weight: bold;">
                            Speakeasy: あなたのAPIのためのエンタープライズ開発者体験
                        <p>
                            私たちのプラットフォームを使えば、機能豊富で本番環境に対応したSDKを簡単に作成できます。<br/>
                            あなたのAPIに相応しい開発者体験を提供することで、統合を加速しエラーを減らすことができます。
                        </p>
                        <p>
                            <a href="https://www.speakeasyapi.dev/docs/api-frameworks/goa?utm_source=goa+repo&utm_medium=github+sponsorship">Goaと統合する</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="alternate">
        <div class="container" style="margin-top:4em">
            <div class="row">
                <div class="hero-unit">
                    <p>ゴアデザインウィザード</p>
                </div>
                <div class="span4" span style="text-align: center;">
                    <a href="https://chat.openai.com/g/g-mLuQDGyro-goa-design-wizard">
                        <img src="/img/Wizard.png" alt="Goa Wizard">
                    </a>
                </div>
                <div class="span8">
                    <p span style="font-size: 120%; font-weight: bold;">
                        <br/>
                        <a href="https://chat.openai.com/g/g-mLuQDGyro-goa-design-wizard">Goaデザインウィザード</a>を使用して、Goaデザインをインタラクティブに作成しましょう。
                    </p>
                    <ul>
                        <li>数秒でGoaデザインを作成</li>
                        <li>デザインに対する即時フィードバックを取得</li>
                        <li>Goaのデザイン言語を探索</li>
                    </ul>
                    <p span style="font-size:80%">
                        (<a href="https://openai.com/blog/chatgpt-plus">ChatGPT Plus</a>のサブスクリプションが必要です)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:4em">
        <div class="row">
            <div class="hero-unit">
                <p>サービス開発のライフサイクル</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i>
                <a href="/ja/design">デザイン</a>
            </h3>
            <p style="margin-bottom:2em">
            Goa でのサービス開発はデザインから始まります。 Goa DSLを使用すると、サービスメソッドとその入力および出力データ構造を記述できます。また DSLでは、HTTP ボディ、HTTP ヘッダ、gRPC メッセージなどトランスポート固有のデータからデータ構造を構築したりシリアライズする方法を定義することもできます。
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i>
                <a href="/ja/implement">実装する</a>
            </h3>
            <p style="margin-bottom:2em">
            Goa ツールは、サービス設計を読み取りサービスとクライアントツールの構築に必要なすべてのコードを生成します。生成されたコードには、トランスポート層と入力バリデーションが含まれます。したがって、サービスの実装はサービスがリッスンしているトランスポートに関係なく、生成された Go インターフェースを実装するのと同じくらい簡単です。特に Goa では HTTP リクエストと gRPC リクエストの両方を受け入れるサービスを簡単に実装することができます。
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i>
                <a href="/ja/extend">拡張する</a>
            </h3>
            <p style="margin-bottom:2em">
            Goa DSL においてもっとも素晴らしいのはそのエンジンが完全に分離されている点です。プラグインはデザインに記述されるコンセプトを拡張するためにカスタム DSL を実装することができます。プラグインは、任意の出力を生成したり、組み込みのコードジェネレータによって生成された出力を変更したりすることもできます。特に、 go-kit プラグインを使用すると、運用およびインフラストラクチャのニーズに合わせてツールキットを利用できる Go kit 準拠のサービスを生成できます。
            </p>
        </div>
    </div>

    <div class="alternate">
    <div class="container" style="margin-top:2em">
        <div class="row">
            <div class="hero-unit">
                <p>はじめに</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        <div class="row">
            <div class="span4" style="margin-left: auto; margin-right: auto;">
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">1</strong>
                </span>
                <span style="font-size:120%">
                   <a href="/ja/learn/getting-started">はじめのガイド</a>で基本について<a href="/ja/learn">学びましょう</a>。
                </span>
                </p>
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">2</strong>
                </span>
                <span style="font-size:120%">
                    Goa の <a href="/ja/design/overview">DSL</a> についてさらに学びましょう。
                </span>
                </p>
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">3</strong>
                </span>
                <span style="font-size:120%">
                    <a href="https://github.com/goadesign/examples">examples</a> を参照してみましょう。
                </span>
                </p>
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">4</strong>
                </span>
                <span style="font-size:120%">
                    <a href="https://gophers.slack.com/messages/goa/">slack channel</a> に参加しましょう
                    (<a href="https://invite.slack.golangbridge.org/">ここ</a>でサインアップできます)。
                </span>
                </p>
            </div>
        </div>
    </div>
    </div>

    </section>

    {{ partial "footer.html" . }}
