{{ partial "header.html" . }}
<body>
    {{ partial "navigation.html" . }}

    <section id="content" class="container">
        <div class="hero-unit">
            <p class="main">Design first.</p>
        </div>
    </section><!-- end .container -->

    <div class="container">
        <div class="row" style="margin-bottom:2em">
            <div class="hero-unit">
                <p>
                goa is a holistic approach for building microservices in
                <a href="https://golang.org">Go</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="alternate">
        <div class="container" >
            <div class="row" style="margin-top:2em;margin-bottom:2em">
                <div class="span4">
                    <span class="circle" style="background:#ED3E3E;"><i class="fa fa-magic"></i></span>&nbsp;
                    <h3 class="inline">Code Generation</h3>
                    <p>
                    goa relies on code generation to alleviate the need for
                    reflection or repetitive coding.<br/>
                    The goa tool generates various artifacts including code,
                    documentation, clients and even custom outputs via
                    plugins. The end result is <b>application code that is
                    clean and terse</b>.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#80AD00;"><i class="fa fa-code"></i></span>
                    <h3 class="inline">Design Based</h3>
                    <p>
                    The goa design language is flexible and stays out of the way
                    &ndash; you decide how your API works. The design is the
                    <b>Single Source Of Truth</b> from which both behavior and
                    docs are derived. The goa design language being a Go DSL is
                    easy to customize and the resulting designs are simple to
                    share.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#5DB9F2;"><i class="fa fa-bolt"></i></span>
                    <h3 class="inline">Built-in Best Practice</h3>
                    <p>
                    goa generates code that follows best practice and is
                    specially well suited for building microservice based system
                    architectures. The code is organized in layers so that for
                    example transport specific concerns do not leak up to the
                    business logic.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:4em">
        <div class="row">
            <div class="hero-unit">
                <p>The Service Development Life Cycle</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> Design
            </h3>
            <p style="margin-bottom:2em">
            Creating a service with goa starts with the design. The goa DSL lets
            you describe the service methods as well as their input and output
            data structures. The DSL also lets you define how to construct and
            serialize the data structures from and to transport specific data
            such as HTTP body, HTTP headers or gRPC messages.
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> Implement
            </h3>
            <p style="margin-bottom:2em">
            The goa tool reads the service design and produces all the code
            required to build the service and a client tool. The generated code
            includes the transport layers and input validation. Implementing a
            service is thus as simple as implementing generated Go interfaces no
            matter what transport the service is listening to. In particular goa
            makes it trivial to implement a service that accepts both HTTP and
            gRPC requests.
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> Extend
            </h3>
            <p style="margin-bottom:2em">
            The best part about the goa DSL is that the evaluation engine is
            completely decoupled. Plugins can implement custom DSLs to extend
            the concepts described in the design. Plugins can also generate
            arbitrary output or modify the output generated by the built-in code
            generators. In particular the go-kit plugin makes it possible to
            generate <a href="https://gokit.io">Go kit</a> compliant services
            that can take advantage of the toolkit for operational and
            infrastructure needs.
            </p>
        </div>
    </div>

    <div class="alternate">
        <div class="container" style="margin-top:2em">
            <div class="row">
                <div class="hero-unit">
                    <p>Getting Started</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom:2em">
            <div class="row">
                <div class="span4" style="margin-left: auto; margin-right: auto;">
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">1</strong>
                    </span>
                    <span style="font-size:120%">
                        Implement a simple goa service with the <a href="/learn/guide">Getting Started Guide</a>.
                    </span>
                    </p>
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">2</strong>
                    </span>
                    <span style="font-size:120%">
                        Learn more about the goa <a href="/design/overview">DSL</a>.
                    </span>
                    </p>
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">3</strong>
                    </span>
                    <span style="font-size:120%">
                        Consult the <a href="https://github.com/goadesign/examples">examples</a>.
                    </span>
                    </p>
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">4</strong>
                    </span>
                    <span style="font-size:120%">
                        Join the <a href="https://gophers.slack.com/messages/goa/">slack channel</a>
                        (sign up <a href="https://gophersinvite.herokuapp.com/">here</a>).
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    </section>

    {{ partial "footer.html" . }}
