{{ partial "header.html" . }}
<body>
    {{ partial "navigation.html" . }}

    <section id="content" class="container">
        <div class="hero-unit">
            <p class="main">Design first.	Then win. </p>
        </div>
    </section><!-- end .container -->

    <div class="container">
        <div class="row" style="margin-bottom:2em">
            <div class="hero-unit">
                <p>
                goa is a holistic approach for building microservices in
                <a href="https://golang.org">Go</a>.
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:2em">
            <div class="hero-unit">
            <p>
            <i class="fa fa-star" style="color:#ED3d3d"></i> <a href="/blog/hello-goa/">goa v1.0.0 released!</a> <i class="fa fa-star" style="color:#ED3d3d"></i>
            <p>
            </div>
        </div>
    </div>

    <div class="alternate">
        <div class="container" >
            <div class="row" style="margin-top:2em;margin-bottom:2em">
                <div class="span4">
                    <span class="circle" style="background:#ED3E3E;"><i class="fa fa-magic"></i></span>&nbsp;
                    <h3 class="inline">Code Generation</h3>
                    <p>
                    goa relies on code generation to alleviate the need for reflection or repetitive
                    coding.<br/> The <a href="/implement/goagen/">goagen</a> tool generates various artifacts
                    including code, documentation, clients and even custom outputs via
                    <a href="/extend/generators">plugins</a>. The end result is <b>application code that is
                        clean and terse</b>.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#80AD00;"><i class="fa fa-code"></i></span>
                    <h3 class="inline">Design Based</h3>
                    <p>
                    The <a href="/design/overview">goa design language</a> is flexible and stays out of
                    the way &ndash; you decide how your API works. The design is the <b>Single
                        Source Of Truth</b> from which both behavior and docs are derived. The goa
                    design language being a Go DSL is easy to <a href="/extend/dsls">customize</a> and
                    the resulting designs are simple to share.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#5DB9F2;"><i class="fa fa-bolt"></i></span>
                    <h3 class="inline">Powerful Context</h3>
                    <p>
                    Request handlers get handed over a <b>endpoint specific context</b> object that exposes
                    both the request state through convenient fields and the response state through 
                    methods that write the response back.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:4em">
        <div class="row">
            <div class="hero-unit">
                <p>The API Design Life Cycle</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> <a href="/design/overview">Design</a>
            </h3>
            <p style="margin-bottom:2em">
            Creating a service with goa starts with the design. The
            <a href="/design/overview/">goa DSL</a> lets you describe the global properties,
            types and endpoints that make up the service API. The
            <a href="/reference/goa/design/apidsl/">apidsl package docs</a> provides a quick
            reference to all the DSL functions.
            </p>
            <p>
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> <a href="/implement/overview">Implement</a>
            </h3>
            <p style="margin-bottom:2em">
            Once the design of the API is in place <a href="/implement/goagen/">goagen</a>
            generates the corresponding data structures, validation code and handlers. Handlers
            are defined as interface methods. Implementing the service is thus as simple as
            implementing the generated interfaces.
            </p>
        </div>
        <div class="row">
            <h3>
                <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i> <a href="/extend/generators">Extend</a>
            </h3>
            <p style="margin-bottom:2em">
            The best part about the goa DSL is that the engine is completely decoupled. Plugins
            can implement <a href="/extend/dsls">custom DSLs</a> to extend the concepts
            described in the design. Plugins can also generate <a
                             href="/extend/generators">arbitrary outputs</a>.
            </p>
        </div>
    </div>

    <div class="alternate">
        <div class="container" style="margin-top:2em">
            <div class="row">
                <div class="hero-unit">
                    <p>Getting Started</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom:2em">
            <div class="row">
                <div class="span4" style="margin-left: auto; margin-right: auto;">
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">1</strong>
                    </span>
                    <span style="font-size:120%">
                        Implement a simple goa service with the <a href="/learn/guide">Getting Started Guide</a>.
                    </span>
                    </p>
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">2</strong>
                    </span>
                    <span style="font-size:120%">
                        Learn more about the goa <a href="/design/overview">DSL</a>.
                    </span>
                    </p>
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">3</strong>
                    </span>
                    <span style="font-size:120%">
                        Consult the <a href="https://github.com/goadesign/examples">examples</a> and the <a href="https://github.com/goadesign/goa-cellar">goa-cellar</a> service.
                    </span>
                    </p>
                    <p style="white-space: nowrap">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                        <strong class="fa-stack-1x text-primary" style="color:white">4</strong>
                    </span>
                    <span style="font-size:120%">
                        Join the <a href="https://gophers.slack.com/messages/goa/">slack channel</a>
                        (sign up <a href="https://gophersinvite.herokuapp.com/">here</a>).
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:2em;margin-bottom:2em">
        <div class="row">
            <div class="hero-unit">
                <p>Learn more</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span4 text-center">
                <a href="https://changelog.com/gotime-7/">
                    <img id="gotime" alt="Go Time" src="/assets/resources/gotime.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Go Time #7: goa The Framework for Building Microservices</i>
                </h3>
                <p>
                Raphael Simon &ndash; Interview, July 2016
                </p>
            </div>
            <div class="span4 text-center">
                <a href="http://talks.goa.design/slides/gophercon2016/goa.slide#2">
                    <img id="slides" alt="goa GopherCon slides" src="/assets/resources/goaslides.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Building Microservices From Design</i> (slides)
                </h3>
                <p>
                Raphael Simon &ndash; GopherCon, July 2016
                </p>
            </div>
            <div class="span4 text-center">
                <a href="https://www.youtube.com/embed/tCFrgWikEX8">
                    <img id="video" alt="goa video" src="/assets/resources/goameetup.png" />
                </a>
                <h3 style="padding-top:1em">
                    <i>Generate All The Things</i>
                </h3>
                <p>
                Brian Ketelsen &ndash; Tempa Go Meetup, March 2016
                </p>
            </div>
        </div>
    </div>

    <script>
$('#video').click(function() {
    $("#carousel").hide(0)
        $("#frame").fadeIn(1000)
        $("#frame iframe").attr('src', "https://www.youtube.com/embed/tCFrgWikEX8?autoplay=1");
});
    </script>

    </section>

    {{ partial "footer.html" . }}
