{{ partial "header.html" . }}
<body>
    {{ partial "navigation.html" . }}

    <section id="content" class="container">
        <div class="hero-unit">
            <p class="main">Design first.</p>
        </div>
    </section><!-- end .container -->

    <div class="container">
        <div class="row" style="margin-bottom:2em">
            <div class="hero-unit">
                <p>
                <a href="https://github.com/goadesign/goa">Goa</a> provides a holistic approach for
                developing remote APIs and microservices in <a href="https://golang.org">Go</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="alternate">
        <div class="container" >
            <div class="row" style="margin-top:2em;margin-bottom:2em">
                <div class="span4">
                    <span class="circle" style="background:#ED3E3E;"><i class="fa fa-magic"></i></span>&nbsp;
                    <h3 class="inline">Code Generation</h3>
                    <p>
                    Goa relies on code generation to alleviate the need for
                    reflection or repetitive coding.<br/>
                    The <tt>goa</tt> tool generates various artifacts including code,
                    documentation, clients and even custom outputs via
                    plugins. The end result is <b>application code that is
                    clean and terse</b>.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#80AD00;"><i class="fa fa-code"></i></span>
                    <h3 class="inline">Design Based</h3>
                    <p>
                    The Goa design language is flexible and stays out of the way
                    &ndash; you decide how your API works. The design is the
                    <b>Single Source Of Truth</b> from which both behavior and
                    docs are derived. The Goa design language being a Go DSL is
                    easy to customize and the resulting designs are simple to
                    share.
                    </p>
                </div>

                <div class="span4">
                    <span class="circle" style="background:#5DB9F2;"><i class="fa fa-bolt"></i></span>
                    <h3 class="inline">Built-in Best Practice</h3>
                    <p>
                    Goa generates code that follows best practice and is
                    specially well suited for building microservice based system
                    architectures. The code is organized in layers so that for
                    example transport specific concerns do not leak up to the
                    business logic.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:4em">
        <div class="container">
            <div class="row">
                <div class="hero-unit">
                    <p>Sponsors</p>
                </div>

                <div class="row" style="margin-top:2em;margin-bottom:2em">
                    <div class="span4">
                        <a href="https://zuplo.link/goa-web">
                            <img src="/img/sponsors/zuplo.png" alt="zuplo" style="width:260px">
                        </a>
                    </div>
                    <div class="span8">
                        <p span style="font-size:120%; font-weight: bold;">
                            Zuplo: Scale, Protect, and Productize your Goa API
                        </p>
                        <p>
                        Our API Gateway allows you to secure your API, scale it globally, generate<br/> documentation from your OpenAPI, and add monetization.
                        </p>
                        <p>
                            <a href="https://zuplo.link/goa-web">Start for Free</a>
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-top:2em;margin-bottom:2em">
                    <div class="span4">
                        <a href="https://www.incident.io">
                            <img src="/img/sponsors/incidentio.png" alt="incident.io" style="width:260px">
                        </a>
                    </div>
                    <div class="span8">
                        <p span style="font-size:120%; font-weight: bold;">
                            incident.io: Bounce back stronger after every incident
                        </p>
                        <p>
                        Use our platform to empower your team to run incidents
                        end-to-end.<br/>
                        Rapidly fix and learn from incidents, so you can build
                        more resilient products.
                        </p>
                        <p>
                            <a href="https://www.incident.io">Learn More</a>
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-top:2em;margin-bottom:2em">
                    <div class="span4">
                        <a href="https://www.speakeasyapi.dev/docs/api-frameworks/goa?utm_source=goa+repo&utm_medium=github+sponsorship">
                            <img src="/img/sponsors/speakeasy.png" alt="speakeasyapi.dev" style="width:260px">
                        </a>
                    </div>
                    <div class="span8">
                        <p span style="font-size:120%; font-weight: bold;">
                            Speakeasy: Enterprise DevEx for your API
                        <p>
                        Our platform makes it easy to create feature-rich
                        production ready SDKs.<br/>
                        Speed up integrations and reduce errors by giving your
                        API the DevEx it deserves.
                        </p>
                        <p>
                            <a href="https://www.speakeasyapi.dev/docs/api-frameworks/goa?utm_source=goa+repo&utm_medium=github+sponsorship">Integrate with Goa</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="alternate">
        <div class="container" style="margin-top:4em">
            <div class="row">
                <div class="hero-unit">
                    <p>The Service Development Life Cycle</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom:2em">
            <div class="row">
                <h3>
                    <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i>
                    <a href="/design">Design</a>
                </h3>
                <p style="margin-bottom:2em">
                Creating a service with Goa starts with the design. The Goa DSL lets
                you describe the service methods as well as their input and output
                data structures. The DSL also lets you define how to construct and
                serialize the data structures from and to transport specific data
                such as HTTP body, HTTP headers or gRPC messages.
                </p>
            </div>
            <div class="row">
                <h3>
                    <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i>
                    <a href="/implement">Implement</a>
                </h3>
                <p style="margin-bottom:2em">
                The goa tool reads the service design and produces all the code
                required to build the service and a client tool. The generated code
                includes the transport layers and input validation. Implementing a
                service is thus as simple as implementing generated Go interfaces no
                matter what transport the service is listening to. In particular Goa
                makes it trivial to implement a service that accepts both HTTP and
                gRPC requests.
                </p>
            </div>
            <div class="row">
                <h3>
                    <i class="fa fa-chevron-circle-right" style="color:#80AD00"></i>
                    <a href="/extend">Extend</a>
                </h3>
                <p style="margin-bottom:2em">
                The best part about the Goa DSL is that the evaluation engine is
                completely decoupled. Plugins can implement custom DSLs to extend
                the concepts described in the design. Plugins can also generate
                arbitrary output or modify the output generated by the built-in code
                generators. In particular the go-kit plugin makes it possible to
                generate <a href="https://gokit.io">Go kit</a> compliant services
                that can take advantage of the toolkit for operational and
                infrastructure needs.
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:2em">
        <div class="row">
            <div class="hero-unit">
                <p>Getting Started</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        <div class="row">
            <div class="span4" style="margin-left: auto; margin-right: auto;">
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">1</strong>
                </span>
                <span style="font-size:120%">
                   <a href="/learn">Learn</a> the basics with the <a href="/learn/getting-started">Getting Started Guide</a>.
                </span>
                </p>
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">2</strong>
                </span>
                <span style="font-size:120%">
                    Learn more about the Goa <a href="/design/overview">DSL</a>.
                </span>
                </p>
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">3</strong>
                </span>
                <span style="font-size:120%">
                    Consult the <a href="https://github.com/goadesign/examples">examples</a>.
                </span>
                </p>
                <p style="white-space: nowrap">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#80AD00"></i>
                    <strong class="fa-stack-1x text-primary" style="color:white">4</strong>
                </span>
                <span style="font-size:120%">
                    Join the <a href="https://gophers.slack.com/messages/goa/">slack channel</a>
                    (sign up <a href="https://invite.slack.golangbridge.org/">here</a>).
                </span>
                </p>
            </div>
        </div>
    </div>

    </section>

    {{ partial "footer.html" . }}
