{{ partial "en/header.html" . }}
<body>
	{{ partial "en/navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>Learn</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span12">
				<div>
					<p>
						If you're new to goa start by going through the
						<a href="intro">introduction</a> and the
						<a href="guide">Getting Started Guide</a>. The
						<a href="cellar">Cellar Example</a> provides
						a complete example of a goa service.
					</p>
					<ul id="list">
						{{ range .Data.Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "en/footer.html" . }}
