{{ partial "header.html" . }}
<body>

	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span12">
				<div>
					<p>
						goa is extensible with plugins both for
						<a href="extend/generators">code generation</a> and
						<a href="extend/dsls">new DSL</a>.
						The section covers how to author new plugins and also covers
						the <a href="extend/gorma">gorma</a> plugin as a good
						reference for implementing your own.
					</p>
					<ul id="list">
						{{ range .Data.Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
