{{ partial "header.html" . }}
<body>
	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div class="span12">
				<div>
					<p>
						If you're new to goa start by going through the
						<a href="learn/intro">introduction</a> and the
						<a href="learn/guide">Getting Started Guide</a>. The
						<a href="learn/examples">examples</a> showcase
						specific functionality and are a good source for
						learning about them.
					</p>
					<ul id="list">
						{{ range .Data.Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
