{{ partial "header.html" . }}
<body>
	{{ partial "navigation.html" . }}
	<section id="content" class="container">
		<div class="hero-unit">
			<h1>{{ .Title  }}</h1>
			<p>{{ .Description }}</p>
		</div>

		<hr />

		<div class="row" id="blog">
			<div id="corpus" class="span12">
				<div>
					<p>
						The reference section contains the GoDoc for all
						the packages that make up the goa framework.
					</p>
					{{$sorted := sort .Data.Pages .Description}}
					{{$first := (index $sorted 0).Description}}

					{{range where $sorted "Description" "not in" "test"}}{{if not (eq (substr .Description -1 4) "test")}}
						{{$name := replace .Description "github.com/goadesign/" ""}}
						{{if in $name "goa"}}{{if not (eq $name "goa/goagen")}}
							{{if (in $name "/")}}
								<li><a href="{{ .Permalink }}">{{$name}}</a></li>
							{{else}}
							  {{if not (eq .Description $first)}}</ul>{{end}}
								<h3><a href="{{ .Permalink }}">{{$name}}</a></h3>
								<ul>
							{{end}}
						{{end}}{{end}}
					{{end}}{{end}}</ul>

					{{range where $sorted "Description" "not in" "test"}}{{if not (eq (substr .Description -1 4) "test")}}
						{{$name := replace .Description "github.com/goadesign/" ""}}
						{{if not (in $name "goa")}}
							{{if (in $name "/")}}
								<li><a href="{{ .Permalink }}">{{$name}}</a></li>
							{{else}}
							  {{if not (eq .Description $first)}}</ul>{{end}}
								<h3><a href="{{ .Permalink }}">{{$name}}</a></h3>
								<ul>
							{{end}}
						{{end}}
					{{end}}{{end}}</ul>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
